amrlib==0.7.1
dgl==0.9.1
dgl_cu111==0.8.1
geoopt==0.1.1
Keras_Preprocessing==1.1.2
matplotlib==3.1.2
networkx==2.8
nltk==3.7
numpy==1.17.4
pandas==1.4.1
Penman==1.2.1
ratelimit==2.2.1
requests==2.22.0
scikit_learn==1.1.3
scipy==1.8.0
tensorboardX==2.5.1
tensorflow==2.10.0
tensorflow_gpu==2.8.0
torch==1.11.0
torch_geometric==2.0.4
torch_scatter==2.0.9
tqdm==4.64.0
transformers==4.20.0
